/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;

}

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 50px;

}
.site-branding__name {

  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: $dark-blue;
  }
}
